.list-course {

  .list-course__title {
    @include title();
  }

  p {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    font-weight: 300;
  }

  .list-course__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px 0 0 0;

    &:last-of-type {
      margin: 30px 0;

      .list-course__element {
        flex-basis: 150px;
      }

    }

  }

  .list-course__element {
    text-align: center;
    flex-basis: 165px;

    img {

    }

    p {
      font-size: 15px;
      line-height: 18px;
      font-weight: 300;
      margin: 10px 0;
    }

  }

  .list-course__checkbox {
    margin: 15px auto;
    padding-left: 35px;

    label {
      cursor: pointer;
      position: relative;
      font-size: 13px;
      line-height: 16px;
      color: #4a33fc;
      display: inline-block;

      &::after {
        content: "";
        position: absolute;
        width: 21px;
        height: 21px;
        border: 1px solid #4a33fc;
        top: -1px;
        box-sizing: border-box;
        left: -35px;
      }

    }

    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"]:checked + label::before {
      content: "";
      width: 12px;
      height: 7px;
      border-left: 2px solid $white;
      border-bottom: 2px solid $white;
      position: absolute;
      left: -31px;
      top: 2px;
      z-index: 1;
      transform: rotate(-45deg);
    }

    input[type="checkbox"]:checked + label::after {
      background-color: #4a33fc;
      border-color: #4a33fc;
    }

  }
  
}

@media (max-width: 1024px) {

  .list-course {

    .list-course__element {
      flex-basis: 30%;
      margin: 10px 0;
    }

    .list-course__block {


      &:last-of-type {
        margin-top: 0;

        .list-course__element {
          flex-basis: 30%;
          margin: 10px 0;
        }

      }

    }

  }

}

@media (max-width: 480px) {

  .list-course {

    p {
      font-size: 18px;
      line-height: 25px;
      
      br {
        display: none;
      }
      
    }

    .list-course__element {
      flex-basis: 49%;
    }

    .list-course__block {


      &:last-of-type {

        .list-course__element {
          flex-basis: 49%;
        }

      }

    }

  }

}