.mega-sale {

  .wrap {
    max-width: 1030px;
  }

  .mega-sale__title {
    @include title();
  }

  .mega-sale__block {
    display: flex;
    align-items: center;
  }

  .mega-sale__left {
    flex-basis: 52%;
    text-align: center;
    margin-right: 30px;

    img {
      max-width: 100%;
      margin: 8px 0;
    }

  }
  
  .mega-sale__left--sort {
    text-align: left;

    img {
      margin-left: -15px;
    }

  }

  .mega-sale__left--time {
    text-align: left;

    img {
      margin-left: -35px;
    }

  }

  .mega-sale__right {
    flex-basis: 48%;

    p {
      font-size: 20px;
      line-height: 30px;
      font-weight: 300;
      margin: 20px 0;

      span {
        font-weight: 800;
      }

    }

    a {
      color: $red;
      text-decoration: none;
      border-bottom: 1px solid $red;

      &:hover {
        border-bottom-color: transparent;
      }

    }

  }

}

@media (max-width: 1024px) {

  .mega-sale {

    .mega-sale__left--sort {

      img {
        margin-left: 0;
      }

    }

    .mega-sale__left--time {

      img {
        margin-left: 0;
      }

    }

  }

}

@media (max-width: 768px) {

  .mega-sale {

    .mega-sale__block {
      flex-wrap: wrap;
    }

    .mega-sale__left {
      flex-basis: 100%;
      margin-right: 0;
    }

    .mega-sale__left--sort {
      text-align: center;
    }

    .mega-sale__left--time {
      text-align: center;
    }

    .mega-sale__right {
      flex-basis: 100%;

      p {
        font-size: 16px;
        line-height: 22px;
        margin: 15px 0;
      }

    }

  }

}