.selected-course {
  text-align: center;
  margin: 50px 0;
  padding-bottom: 80px;

  .selected-course__title {
    font-size: 25px;
    line-height: 30px;
    color: $black;
    font-weight: 700;
    margin: 25px 0;
  }

  .selected-course__name {
    font-size: 16px;
    line-height: 26px;
    color: $black;
  }

  .selected-course__price {
    font-size: 40px;
    margin-top: -10px;
    margin-bottom: 25px;

    span {
      margin: 0 10px;
    }

    .selected-course__old {
      font-weight: 300;
      text-decoration: line-through;
      color: $red;
    }

    .selected-course__new {
      font-weight: 700;
      color: $black;
    }

  }

  .selected-course__btn {
    background-color: $blue;
    border-radius: 30px;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 20px;
    text-align: center;
    width: 370px;
    padding: 20px 0;
    display: block;
    margin: 35px auto;
    color: $white;
    text-decoration: none;
    font-weight: 700;

    &:hover {
      background-color: darken($blue, 10%);
    }

  }

}

@media (max-width: 680px) {

  .selected-course {
    padding-bottom: 15px;

    .selected-course__title {
      font-size: 20px;
      line-height: 25px;
    }

    .selected-course__name {
      font-size: 18px;
      line-height: 25px;
    }

  }

}

@media (max-width: 480px) {

  .selected-course {

    .selected-course__btn {
      width: 290px;
    }

  }

}