.timer {
  padding: 20px 0 45px;
  max-width: 555px;
  background-color: rgba(21, 27, 38, .6);

  .timer__title {
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    font-weight: 800;
    color: $white;
    margin: 15px 0 20px;
  }

  .timer__results {
    color: $red;
    font-size: 67px;
    font-weight: 800;
    text-align: center;
    display: flex;
    justify-content: center;

    span {
      display: inline-block;
      text-align: center;
      flex-basis: 120px;
      flex-shrink: 0;
      display: inline-block;
      text-align: center;
      margin: 0 5px;
      position: relative;

      &::after {
        content: ".";
        position: absolute;
        margin-left: 15px;
        color: $white;
      }

      &:last-child {

        &::after {
          display: none;
        }

      }

    }

  }

  .timer__titles {
    color: #b6c0d2;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 20px 0;

    span {
      text-align: center;
      flex-basis: 120px;
      flex-shrink: 0;
      display: inline-block;
      margin: 0 5px;
    }
    
  }

}

.timer--bg {
  margin: 0 auto;
  background: url('../../images/newyear2019/timer-bg.png') center top no-repeat;
  max-width: 753px;
  padding-bottom: 129px;

  .timer__results {
    color: $white;
  }

}

@media (max-width: 768px) {

  .timer--bg {
    background: #465b66;
    border: 10px solid #202c33;
    border-radius: 5px;
    padding-bottom: 45px;
  }
  
}

@media (max-width: 680px) {

  .timer {

    .timer__title {
      font-size: 20px;
      line-height: 30px;
    }

    .timer__results {
      font-size: 38px;

      span {
        flex-basis: 60px;

        &::after {
          margin-left: 8px;
        }

      }

    }

    .timer__titles {
      font-size: 14px;

      span {
        flex-basis: 60px;
      }

    }

  }

}