.warning {

  .warning__wrap {
    background: url('../../images/newyear2019/shape.png') repeat $red;
    border-radius: 25px;
    padding: 70px 15px;
    margin: 30px auto;
    width: calc(100% - 30px);
  }

  .warning__block {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;

    &::after {
      background: url('../../images/newyear2019/santa.png') left top no-repeat;
      content: "";
      display: block;
      position: absolute;
      left: 25%;
      transform: translateX(calc(-25% - 30px));
      top: -320px;
      width: 147px;
      height: 320px;
    }

    p {
      flex-basis: 48%;
      color: $white;
      font-size: 20px;
      line-height: 30px;
      font-weight: 300;

      span {
        font-weight: 900;
      }

      &:first-of-type {
        color: $white;
        font-size: 50px;
        line-height: 120%;
        font-weight: 900;
        text-align: center;
        flex-basis: 52%;
      }

    }

  }

}

@media (max-width: 768px) {

  .warning {

    .warning__wrap {
      padding: 25px 15px;
    }

    .warning__block {
      flex-wrap: wrap;

      &::after {
        display: none;
      }

      p {
        flex-basis: 100%;
        margin: 10px 0;

        &:first-of-type {
          font-size: 40px;
          line-height: 50px;
        }

      }

    }

  }


}